* { 
  box-sizing: border-box;
	margin: unset;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  --app-w: 20rem;
  --bgc: hsla(200, 30%, 85%, 0.95);
  --bg-w: 100%;
  background-color: var(--bgc);
  min-block-size: 100%;
  min-inline-size: 100%;
}

[data-app] {
  --accent: hsl(200, 50%, 50%);
	--accent-bg: hsl(200, 30%, 55%);
  --border: hsl(200, 30%, 30%);
  --bdrs: 0.15rem;
  --gap: 1rem;
  --rng-h: 2rem;

  background: var(--bgc);
  border-inline-start: 2px solid var(--border);
  bottom: 0;
  font-family: ui-monospace, monospace;
  height: 100vh;
  left: var(--app-l, 100%);
  overflow-y: auto;
  padding-inline: var(--gap);
  position: fixed;
  right: 0;
  top: 0;
  transition: left 0.5s cubic-bezier(.35, .92, 1, 1);
  width: var(--app-w);
  z-index: 1;
}

[data-app] button {
  background-color: var(--accent-bg);
  border: 1px solid var(--border);
  box-shadow: 5px 5px 0 0 var(--border);
  font-family: inherit;
  padding: calc(var(--gap) / 2) var(--gap);
}

button[data-app-elm="preset"] {
  background-color: hsl(200, 30%, 20%);
  border: 0;
  border-radius: 0.75rem;
  box-shadow: none;
  color: hsl(200, 30%, 95%);
  font-family: inherit;
  font-size: x-small;
  margin: 0 0.25rem .5rem 0;
  padding: 0.25rem 0.75rem
}

[data-app-elm="checkbox"],
[data-app-elm="radio"] {
  display: block;
  font-family: ui-monospace, monospace;
  margin-block-end: var(--gap);
}

[data-app-elm="checkbox"] span,
[data-app-elm="radio"] span {
  align-items: center;
  display: flex;
  position: relative;
}

[data-app-elm="checkbox"] span::before,
[data-app-elm="radio"] span::before {
  background-color: var(--accent-bg);
  border: 2px solid var(--border);
  border-radius:50%;
  content: '';
  display: inline-block;
  height: 1.5rem;
  margin-inline-end: 0.5rem;
  width: 1.5rem;
}

[data-app-elm="checkbox"] input,
[data-app-elm="radio"] input {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  left: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

[data-app-elm] input:checked + span::before {
  background-color: var(--border);
  box-shadow: inset 0 0 0 6px var(--accent-bg);
}

[data-app-elm="checkbox"] {
  margin-block-start: calc(var(--gap) / 2);
}

[data-app-elm="checkbox"] span::before {
  border-radius: 0.25rem;
}

[data-app-elm="svg"] {
  transition: width 0.5s cubic-bezier(.35, .92, 1, 1);
  width: var(--bg-w);
}

[data-app-elm="toggle"] {
  background-color: hsl(200, 15%, 15%);
  border-color: hsl(200, 15%, 95%);
  border-style: solid;
  border-width: 0 1px 1px 0;
  height: 44px;
  position: absolute;
  width: 44px;
}

[data-app-elm="toggle"] svg {
  fill: none;
  position: absolute;
  stroke: hsl(200, 15%, 95%);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1;
  transition: opacity 1s cubic-bezier(.35, .92, 1, 1);
}

[data-app-elm="toggle"] svg:last-of-type {
  opacity: 0;
}

[data-app] fieldset {
  border: 1px solid var(--accent-bg);
  border-radius: var(--bdrs);
  margin-block-end: var(--gap);
  padding: var(--gap);
}

[data-app] label {
  display: block;
  position: relative;
}

[data-app] label::after {
  content: attr(data-value);
  display: inline-block;
  font-size: x-small;
  position: absolute;
  right: 0;
  top: 0.5em;
}

[data-app] summary {
	border-bottom: 2px dashed var(--accent-bg);
	cursor: pointer;
	padding-block: var(--gap);
	user-select: none;
}

[data-app] summary + div {
	border-bottom: 2px dashed var(--accent-bg);
	padding-block: var(--gap);
}

[data-app] [type="range"] {
  --rng-bdrs: .5rem;
  --rng-bgi: linear-gradient(to right, var(--accent-bg), var(--accent-bg));
  --rng-h: 0.5rem;
  --rng-m: var(--gap) 0;
  --rng-thumb-bdrs: 50%;
  --rng-thumb-bgc: var(--accent);
  --rng-thumb-bxsh: inset 0 0 0 0.125rem var(--border);
  --rng-thumb-bxsh--focus: inset 0 0 0 0.125rem var(--border), 0 0 0 0.125rem  rgba(255, 255, 255, 0.8);
  --rng-thumb-h: 2rem;
  --rng-thumb-w: 2rem;

  background-image: var(--rng-bgi, inherit);
  border-radius: var(--rng-bdrs, 0);
  font-family: inherit;
  height: var(--rng-h);
  margin: var(--rng-m, 0);
  outline: 0.25rem solid transparent;
  position: relative;
  touch-action: none;
  width: 100%;
}

[data-app] [type="range"][max="360"] {
	--s: 60%;
  --rng-bgi: linear-gradient(to right, 
  hsla(0, var(--s), 50%, 0.8), 
  hsla(30, var(--s), 50%, 0.8), 
  hsla(60, var(--s), 50%, 0.8), 
  hsla(90, var(--s), 50%, 0.8), 
  hsla(120, var(--s), 50%, 0.8), 
  hsla(150, var(--s), 50%, 0.8), 
  hsla(180, var(--s), 50%, 0.8), 
  hsla(210, var(--s), 50%, 0.8), 
  hsla(240, var(--s), 50%, 0.8), 
  hsla(270, var(--s), 50%, 0.8), 
  hsla(300, var(--s), 50%, 0.8), 
  hsla(330, var(--s), 50%, 0.8),
  hsla(360, var(--s), 50%, 0.8)
  );
}

[data-app] [type="range"]::-moz-range-thumb {
  background-color: var(--rng-thumb-bgc);
  border-radius: var(--rng-thumb-bdrs);
  box-shadow: var(--rng-thumb-bxsh);
  color: #000;
  cursor: ew-resize;
  height: var(--rng-thumb-h);  
  margin-top: calc(0px - ((var(--rng-thumb-h) - var(--rng-h)) / 2));
  position: relative;
  width: var(--rng-thumb-w);
}

[data-app] [type="range"]::-webkit-slider-thumb {
  background-color: var(--rng-thumb-bgc);
  border-radius: var(--rng-thumb-bdrs);
  box-shadow: var(--rng-thumb-bxsh);
  cursor: ew-resize;
  height: var(--rng-thumb-h);  
  margin-top: calc(0px - ((var(--rng-thumb-h) - var(--rng-h)) / 2));
  position: relative;
  width: var(--rng-thumb-w);
}

[data-app] [type="range"]:focus-visible::-webkit-slider-thumb {
  box-shadow: var(--rng-thumb-bxsh--focus);
}

[data-app] [type="range"]::-moz-range-track {
  background: transparent;
  background-size: 100%;
  height: var(--rng-h);
}

[data-app] [type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  background-size: 100%;
  height: var(--rng-h);
}

[data-app] [type="range"],
[data-app] [type="range"]::-webkit-slider-runnable-track,
[data-app] [type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

[data-app] [type="text"] {
  border: 1px solid var(--border);
  border-radius: var(--bdrs);
  font-family: inherit;
  margin-block-end: var(--gap);
  margin-block-start: calc(var(--gap) / 4);
  padding: calc(var(--gap) / 2);
  width: 100%;
}

/* STATE */
#toggle:checked ~ [data-app] { --app-l: 25vw; }
#toggle:checked + [data-app-elm="toggle"] svg:first-of-type { opacity: 0; }
#toggle:checked + [data-app-elm="toggle"] svg:last-of-type { opacity: 1; }
#toggle:checked ~ [data-app-elm="svg"] {
  --bg-w: calc(100% - var(--app-w));
}
#toggle:checked ~ main [data-app] {
  --app-l: calc(100% - var(--app-w));
}